@model Complains_MVCs.Models.FileComp

@{
    ViewData["Title"] = "CheckedComp";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}
<h1>Review</h1>


<hr />
<div class="row">
    <h1 class="text-center border bg-info">Complaint</h1>
    <div class="text-center col-md-3">
       


            
            <div class="form-group ">
            <label asp-for="Text" class="control-label fw-bold">Text:</label>
                <input asp-for="Text" class="form-control"  disabled />

            </div>
            <div class="form-group">
                
            <label asp-for="ContentType" class="control-label fw-bold">ContentType:</label>
            <input asp-for="ContentType" class="form-control" disabled />

            </div>
            
            
            <div class="form-group">
            <label asp-for="fileUp" class="control-label fw-bold">File:</label>

            <br />
                <a href="~/Uploads/@Model.fileName" download>
                        <span class="btn btn-primary  ">
                            @Model.fileName - DownLoad
                        </span>
                    
                    </a>
               
            </div>
            <div class="form-group">
            <label asp-for="Status" class="control-label fw-bold">Status:</label>
                <input asp-for="Status" class="form-control" disabled  />

            </div>
            <div class="form-group">
            <label asp-for="UserId" class="control-label fw-bold">UserId:</label>
                <input asp-for="UserId" class="form-control" disabled   />

            </div>
            <br />
        
        
    </div >

    <h1 class="text-center border bg-info">Demands</h1>

    @if (Model.Demands.Count != 0 && Model.Demands.Any())
    {
        for (var i = 0; i < Model.Demands.Count; i++)
        {
            var demand = Model.Demands[i];
            <div class="card mb-2">
                <div>
                    <p class="card-text fw-bold"> @(i + 1)-Description :  @demand.Description</p>
                    
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-muted fw-bold">No demands associated with this complaint.</p>
    }
</div>

<div>
    <br />
    <a class="btn btn-dark" asp-action="Index"  >Back to List </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
