@model Complains_MVCs.Models.User


@*     For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
 *@
@{
}



@* <div class="row" >
    <h1>Login</h1>


    <hr />
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="khaled.m@yahoo.com" />
                <span asp-validation-for="Email" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" value="123" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register">Register</a>
</div> *@

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                               

                                <form asp-action="Login" method="post">
                                    <h4>Welcome to Compliants Form</h4>
                                    <br />
                                    <div class="form-outline mb-4">
                                        <label asp-for="Email" class="control-label" ></label>
                                        <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Password" class="control-label" ></label>
                                        <input asp-for="Password" class="form-control" placeholder="Enter Your Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class ="d-flex justify-content-center">
                                        <input type="submit" value="Login"  class="btn btn-info btn-block btn-lg gradient-custom-8 text-dark" />
                                       
                                       
                                    </div>
                                    

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="text-center text-muted mt-5 mb-0">Don't have an account?
                                        <a asp-action="Register"  class="fw-bold text-body">Register</a>
                                        </p>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2 bg-dark">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4 ">
                                <div class="text-center ">
                                    <img src="https://png.pngtree.com/thumb_back/fh260/background/20220422/pngtree-legal-dispute-businessman-holding-a-newspaper-highlighting-complaints-photo-image_13233304.jpg"
                                         style="max-width: 100%; height: auto;" alt="logo">
                                         
                                    <h4 class="mt-1 mb-5 pb-1 ">Welcome to Compliants Form</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
